.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.card-container {
  background-color: #150b3e;
  border-radius: 8px;
  width: 350px;
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.account-profile-details {
  display: flex;
  align-items: center;
}

.account-profile {
  background-color: #c7d2fe;
  color: #7c3aed;
  width: 50px;
  height: 50px;
  border: solid 1px transparent;
  border-radius: 40px;
  text-align: center;
  padding-top: 15px;
}

.account-username {
  color: #d4d2db;
  margin-left: 10px;
}

.amount-display-container {
  display: flex;
  justify-content: space-between;
}

.balance-title {
  color: #585076;
}

.amount {
  color: #d4d2db;
  font-size: 20px;
}

.amount-in-rupees {
  color: #585076;
  font-size: 10px;
}

.withdraw-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.withdraw-title {
  color: #d4d2db;
  font-size: 18px;
}

.description {
  color: #585076;
  font-size: 12px;
}
